body{
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: justify;
    /* background-color: blue;
    background-image: url('/imagenes/fondo_textura_1.jpg'); */
}

.borde{
    border: 1px solid black;
    padding: 15px;
}

#cabecera{
    text-align: center;
}

#menu{
    text-align: center;
}

#menu a{
    display: inline-block;
    background-color: #adbecf;
    color: black;
    padding: 1px 20px 1px 20px;
    text-decoration: none;
    line-height: normal;
    width: 15%;
    border-radius: 5px;
}

#menu a:hover{
    color: white;
    background-color: gray;
}

#menu a:active{
    color: black; 
}

#menu .menu_activo{
    background-color: #d39c87;
}

#sec_quien_soy{
    display: flex;
}
#sec_quien_soy #titulo_soy_dg{
    margin-bottom: 1px;
}

#sec_quien_soy #small_soy_dg{
    font-size: 10px;
}


#sec_quien_soy #art_soy hr{
    background-color: black;
    width: 30%;
    height: 3px;
    border-radius: 50%;
    transform: rotate(1deg);
    margin-left: 0;
}

#sec_a_que_me_dedico{
    color: white;
    background-color: #6fa8dc;
    text-align: center;
}

#sec_a_que_me_dedico h1{
    margin-bottom: 0px;
}

#sec_a_que_me_dedico hr{
    background-color: white;
    width: 30%;
    height: 3px;
    border-radius: 50%;
    transform: rotate(1deg);
}

#sec_como_puedo_ayudarte{
    text-align: center;
}

#sec_como_puedo_ayudarte #sec_servicios{
    display: flex;
}

#sec_como_puedo_ayudarte #sec_servicios .art_tz{
    margin-left: 15px;
}

#sec_como_puedo_ayudarte #sec_servicios article{
    background-color: #FF9800;
    color: white;
    border: 2px solid blue;
}

#sec_como_puedo_ayudarte #sec_servicios article p{
    text-align: justify;
}

#sec_herramientas{
    color: white;
    text-align: center;
    background-color: #6fa8dc;
}

#sec_herramientas table{
    color: black;
}

#sec_herramientas table tbody img{
    width: 40%;
}

#pie_de_pagina{
    text-align: center;
}